
.taches{
	background-color: white;
	border-radius: 9px;
	width: 40%;
	margin: auto;
	height: auto;
    border: solid 1px black;
    padding: 10px 50px 10px 50px;
}

@media only screen and (max-width: 960px) {
	.taches  {
		width: 90%;
	}
}


.taches-list-title{
    border-bottom: solid 2px black;
}