.modal{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex !important;
    width: 25% !important;
    height: 30% !important;
    top: 15% !important;
    left: 2.5% !important;
    background:white;
    border: solid 1px black;
    border-radius: 9px;
    z-index: 9;
}.modal:hover{
    cursor: default;
}


.name{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

.btn{
    margin: 10px;
}
.btn-add{
    background-color: #6fcf97 !important;
}.btn-cancel{
    background-color: #f2c94c !important;
}.btn-delete{
    background-color: #eb5757 !important;
}