.taches-item-row{
    margin: 20px 10px;
    padding-top: 15px;
}

@media only screen and (max-width: 960px) {

    .taches-item-row{
        display: flex !important;
        flex-wrap: nowrap !important;
    }
    .taches-item-col{
        width: 25% !important;
    }
    .edit-col, .delete-col{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}


.taches-item-col-1{
    padding-left: 0 !important;
}

.tache-item-etat{
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}.to-do{
    background-color: #56ccf2;
}.ongoing{
    background-color: #f2c94c;
}.done{
    background-color: #6fcf97;
}.late{
    background-color: #eb5757;
}

